<!--
  Generated template for the SubscribeConfigSearch page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <!--<button ion-button (click)="gotoConfig()"><ion-icon name="checkmark"></ion-icon>
      </button>-->
      <!--</ion-buttons><ion-title>Message</ion-title>-->
    </ion-buttons><ion-title>挑選通知方式</ion-title>
  </ion-navbar>

  <!--<ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="mode">
      <ion-segment-button value="group">
        選擇群組
      </ion-segment-button>
      <ion-segment-button value="employee">
        選擇人員
      </ion-segment-button>
      <ion-segment-button *ngIf="type == 'MAIL'" value= "department">
        選擇部門
      </ion-segment-button>
      <ion-segment-button *ngIf="type == 'MAPP'" value= "mappgroupid">
        輸入交談室編號
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>-->

</ion-header>


<ion-content padding>
    <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">MAIL</ion-item-divider>
        <ion-item (click)="SearchClick('group','MAIL')">選擇群組</ion-item>        
        <ion-item (click)="SearchClick('employee','MAIL')">選擇人員</ion-item>        
        <ion-item (click)="SearchClick('department','MAIL')">選擇部門</ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">MAPP</ion-item-divider>
        <ion-item (click)="SearchClick('pgroup','MAPP')">選擇群組</ion-item>        
        <ion-item (click)="SearchClick('pemployee','MAPP')">選擇人員</ion-item>      
        <ion-item (click)="SearchClick('mappgroup','MAPP')">輸入聊天室ID</ion-item>
    </ion-item-group>
  </ion-list>
  <!--<ion-fab right middle>
    <button ion-fab mini (click)="SearchClick(mode)" *ngIf="mode != 'mappgroupid'"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
 <div [ngSwitch]="mode">
    <ion-list *ngSwitchCase="'group'">
      <ion-item *ngFor="let group of groups; let i = index;">{{group.groupId}}<button ion-button color="light" item-right (click)="doDelete(i)"><ion-icon name="remove"></ion-icon></button></ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'employee'">
       <ion-item *ngFor="let employee of employees; let i = index;">{{employee.name}}<button ion-button color="light" item-right (click)="doDelete(i)"><ion-icon name="remove"></ion-icon> </button></ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'department'">
      <ion-item *ngFor="let department of departments; let i = index;">{{department}}<button ion-button color="light" item-right (click)="doDelete(i)"><ion-icon name="remove"></ion-icon> </button></ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'mappgroupid'">

  <ion-item>
    <ion-label floating>交談室編號</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>交談室描述</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

</ion-list>
  </div>-->
</ion-content>
