<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="gotoEdit()" >完成
        <!--<ion-icon name="checkmark"></ion-icon>-->
      </button>
      <!--</ion-buttons><ion-title>Message</ion-title>-->
    </ion-buttons><ion-title>{{category}}通知設定</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">MAIL<button ion-button item-right (click)="openMenu(1)"><ion-icon name="add"></ion-icon> </button></ion-item-divider>
        <!--<ng-container *ngIf="type == 'MAIL'">-->
        <ion-item *ngFor="let group of groups; let i = index;">{{group.groupName}}<button ion-button color="light" item-right  (click)="doDelete('group',i)"><ion-icon name="remove"></ion-icon> </button></ion-item>   
        <ion-item *ngFor="let employee of employees; let i = index;">{{employee.name}}<button ion-button color="light" item-right  (click)="doDelete('employee',i)"><ion-icon name="remove"></ion-icon> </button></ion-item>   
        <ion-item *ngFor="let department of departments; let i = index;">{{department.deptName}}<button ion-button color="light" item-right  (click)="doDelete('department',i)"><ion-icon name="remove"></ion-icon> </button></ion-item>   
        <!--</ng-container>-->
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">MAPP<button ion-button item-right (click)="openMenu(2)"><ion-icon name="add"></ion-icon> </button></ion-item-divider>
        <!--<ng-container *ngIf="type == 'MAPP'">-->
        <ion-item *ngFor="let group of pgroups; let i = index;">{{group.groupName}}<button ion-button color="light" item-right  (click)="doDelete('pgroup',i)"><ion-icon name="remove"></ion-icon> </button></ion-item>   
        <ion-item *ngFor="let employee of pemployees; let i = index;">{{employee.name}}<button ion-button color="light" item-right  (click)="doDelete('pemployee',i)"><ion-icon name="remove"></ion-icon> </button></ion-item>   
        <ion-item *ngFor="let mappgroup of mappgroups; let i = index;">{{mappgroup.description}}<button ion-button color="light" item-right  (click)="doDelete('mappgroup',i)"><ion-icon name="remove"></ion-icon> </button></ion-item>   
        <!--</ng-container>-->
    </ion-item-group>
  </ion-list>
</ion-content>
