     <ion-item-sliding>
          <ion-item>
             <h2>{{group.groupName}}</h2>
             <p>{{group.description}}</p>
          </ion-item>
          <ion-item-options side="right">
             <button ion-button (click)="editClick.emit(group)">
                <ion-icon name="create"></ion-icon> 修改
             </button>
             <button ion-button color="danger" (click)="deleteClick.emit(group)">
                <ion-icon name="trash"></ion-icon> 刪除
             </button>
          </ion-item-options>
    </ion-item-sliding>
